$transitionDuration: .2s;

$color1: #fff;
$color2: #f2f2f2;  //bg form
$color3: #0078d7; // bg form button
$color4: #000;
$color5: #2f2f2f; // basket amount color
$color6: #505050; // nav a color
$color7: #e5e5e5; // nav a bg hover
$color8: #c3c3c3; // submenu border-bottom
$color9: #a9a9a9; // border form
$color10: #dcdcdc; // submenu hover
$color11: #0060ac; // search-form button hover
$color12: #d9d9d9; // submenu submenu bg
$color13: #ccc; // submenu submenu hover bg
