$transitionDuration: 1s;
$transitionDuration2: .2s;

$color1: #fff;
$color2: #323a45; // bg
$color3: #8a959e; // input color
$color4: #d4d7da; //input border
$color5: #f36; // button bg
$color6: #747c83; // p color
$color7: #e32152; // button hover bg
