$transitionDuration: .3s;

$color1: #fff;
$color2: #f2f2f2; // bg
$color3: #666; // color a
$color4: #333; // h2
$color5: #e3e3e3; //nav li border bottom
$color6: #000; // h2 hover
$color7: #999; // footer-shop
$color8: #08c; // footer-shop a
$color9: #d6d6d6; // footer-link border
